# Secret files
.env
CLI/weather_key.txt

# Folders of Virtual Python
venv/
.venv/
env/

# Python compilier
__pycache__/
*.pyc
.pytest_cache/

# System files
.DS_Store
Thumbs.db
CLI/weather_report.txt
.vscode/